<h1>Showing selected article.</h1>

<p>First Name: <%= @contact.first_name %></p>
<p>Last Name: <%= @contact.last_name %></p><br />

<p>Address: <br/>
<%= @contact.address %> <br/>
<%= @contact.city %>, <%= @contact.state %> <%= @contact.zip %></p>
